/* Define colours */

/* Primary color: #4727CB */

/* Secondary color: #5531f7 */

/* Secondary color: #212529 */

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family:
    "Lato",
 "Lucida Sans",
 "Lucida Sans Regular",
 "Lucida Grande",
    "Lucida Sans Unicode",
 Geneva,
 Verdana,
 sans-serif;
}

body {
  text-align: left;
  background: #fff;
  font-size: 1rem;
}

*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #4727cb;
}

a:hover {
  text-decoration: none;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212529;
  margin-bottom: 0.2rem;
  font-weight: 700;
  line-height: 1.2;
}

ul li {
  list-style: none;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 5px 10px;
  font-size: 1rem;
  line-height: 1.5;
  margin: 5px 0;
}

.btn-main {
  color: #fff;
  background: #4727cb;
  border-color: #4727cb;
}

.btn-secondary {
  color: #fff;
  background: transparent;
  border-color: #4727cb;
}

.btn-full {
  width: 100%;
}

.btn-big {
  width: 300px;
}

.btn-medium {
  width: 300px;
}

.btn-small {
  width: 100px;
}

.border-top {
  border-top: 1px solid #212529;
}

.border-bottom {
  border-bottom: 1px solid #212529;
}

.border-left {
  border-left: 1px solid #212529;
}

.border-right {
  border-right: 1px solid #212529;
}

.bucket {
  max-width: 80%;
  margin: 0 auto;
}

.bucket-full {
  max-width: 100%;
}

.line {
  display: flex;
  flex-wrap: wrap;
}

.item,
.item-1,
.item-2,
.item-3,
.item-4,
.item-5,
.item-6,
.item-7,
.item-8,
.item-10,
.item-lg-1,
.item-lg-2,
.item-lg-3,
.item-lg-4,
.item-lg-5,
.item-lg-6,
.item-lg-7,
.item-lg-8,
.item-lg-9 {
  padding: 0 15px;
}

.item {
  width: 100%;
}

.item-1 {
  width: 8.33%;
}

.item-2 {
  width: 16.66%;
}

.item-3 {
  width: 25%;
}

.item-4 {
  width: 33%;
}

.item-5 {
  width: 41.6%;
}

.item-6 {
  width: 50%;
}

.item-7 {
  width: 58.33%;
}

.item-8 {
  width: 66.66%;
}

.item-9 {
  width: 75%;
}

.item-10 {
  width: 83.33%;
}

.item-11 {
  width: 91.66%;
}

.item-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .item-sm {
    max-width: 100%;
  }

  .item-sm-1 {
    max-width: 8.33%;
  }

  .item-sm-2 {
    max-width: 16.66%;
  }

  .item-sm-3 {
    max-width: 25%;
  }

  .item-sm-4 {
    max-width: 33%;
  }

  .item-sm-5 {
    max-width: 41.6%;
  }

  .item-sm-6 {
    max-width: 50%;
  }

  .item-sm-7 {
    max-width: 58.33%;
  }

  .item-sm-8 {
    max-width: 66.66%;
  }

  .item-sm-9 {
    max-width: 75%;
  }

  .item-sm-10 {
    max-width: 83.33%;
  }

  .item-sm-11 {
    max-width: 91.66%;
  }

  .item-sm-12 {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .item-md {
    width: 100%;
  }

  .item-md-1 {
    max-width: 8.33%;
  }

  .item-md-2 {
    max-width: 16.66%;
  }

  .item-md-3 {
    max-width: 25%;
  }

  .item-md-4 {
    max-width: 33%;
  }

  .item-md-5 {
    max-width: 41.6%;
  }

  .item-md-6 {
    max-width: 50%;
  }

  .item-md-7 {
    max-width: 58.33%;
  }

  .item-md-8 {
    max-width: 66.66%;
  }

  .item-md-9 {
    max-width: 75%;
  }

  .item-md-10 {
    max-width: 83.33%;
  }

  .item-md-11 {
    max-width: 91.66%;
  }

  .item-md-12 {
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .item-lg {
    max-width: 100%;
  }

  .item-lg-1 {
    max-width: 8.33%;
  }

  .item-lg-2 {
    max-width: 16.66%;
  }

  .item-lg-3 {
    max-width: 25%;
  }

  .item-lg-4 {
    max-width: 33%;
  }

  .item-lg-5 {
    max-width: 41.6%;
  }

  .item-lg-6 {
    max-width: 50%;
  }

  .item-lg-7 {
    max-width: 58.33%;
  }

  .item-lg-8 {
    max-width: 66.66%;
  }

  .item-lg-9 {
    max-width: 75%;
  }

  .item-lg-10 {
    max-width: 83.33%;
  }

  .item-lg-11 {
    max-width: 91.66%;
  }

  .item-lg-12 {
    max-width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .item-xl {
    width: 100%;
  }

  .item-xl-1 {
    width: 8.33%;
  }

  .item-xl-2 {
    width: 16.66%;
  }

  .item-xl-3 {
    width: 25%;
  }

  .item-xl-4 {
    width: 33%;
  }

  .item-xl-5 {
    width: 41.6%;
  }

  .item-xl-6 {
    width: 50%;
  }

  .item-xl-7 {
    width: 58.33%;
  }

  .item-xl-8 {
    width: 66.66%;
  }

  .item-xl-9 {
    width: 75%;
  }

  .item-xl-10 {
    width: 83.33%;
  }

  .item-xl-11 {
    width: 91.66%;
  }

  .item-xl-12 {
    width: 100%;
  }
}

.navbar {
  width: 80%;
  margin: auto;
  padding: 1rem;
  background: #4727cb;
  position: relative;
}

.navbar-fluid {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  background: #4727cb;
}

.navbar-logo {
  display: inline-block;
}

.navbar-logo img {
  width: 100%;
}

.navbar ul,
.navbar-fluid ul {
  display: inline;
}

.navbar-form {
  display: inline;
}

.navbar ul li.nav-item,
.navbar-fluid ul li.nav-item {
  display: inline-block;
  color: #fff;
  padding: 0 10px;
  font-weight: bold;
}

.navbar ul li.nav-item a,
.navbar-fluid ul li.nav-item a {
  color: #fff;
}

.navbar ul li.nav-item a:hover,
.navbar-fluid ul li.nav-item a:hover {
  color: #000;
}

.put-right {
  position: absolute;
  right: 0;
  top: 1rem;
}

input[type="text"],
input[type="search"],
input[type="number"],
input[type="password"] {
  padding: 0.5rem;
  border: 1px solid #4727cb;
  font-size: 1rem;
  background: #5531f7;
  color: #fff;
}

input,
button {
  outline: 0;
}

.img-holder {
  border: 1px solid #212529;
}

.img-holder img {
  width: 100%;
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid #212529;
}

.border-1 {
  border: 1px solid #212529;
}

.border-2 {
  border: 2px solid #212529;
}

.border-3 {
  border: 3px solid #212529;
}
